<footer class="bg-dark text-light py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <h5 class="fw-bold">YelpCamp</h5>
        <p class="mb-1">Discover and review the best campgrounds across the country.</p>
        <p class="small mb-0">&copy; 2025 YelpCamp. All rights reserved.</p>
        <p class="mb-1 small">Made by Yashvanth S</p>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end align-items-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="/" class="text-light text-decoration-none">Home</a></li>
          <li class="list-inline-item"><a href="/campgrounds" class="text-light text-decoration-none">Campgrounds</a></li>
          <li class="list-inline-item"><a href="/campgrounds/new" class="text-light text-decoration-none">New Campground</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
